MEDIAWIKI_HOSTNAME=<mediawiki-url>
MEDIAWIKI_USERNAME=<mediawiki-username>
MEDIAWIKI_PASSWORD=<mediawiki-password>
MEDIAWIKI_PATH=/w/
CACHE_DIR=cache
DOCS_DIR=docs
MKDOCS_YML=mkdocs.yml
SETTINGS_PAGE=Mwfilter:Settings
