SETTINGS_PAGE=Mwfilter:Settings
MKDOCS_YML=mkdocs.yml

# common
COLORED_LOGGING=True
DEFAULT_LOGGING=False
SIMPLE_LOGGING=False
SEVERITY=debug
DEBUG=True
VERBOSE=1

# down
MEDIAWIKI_HOSTNAME=<mediawiki-url>
ENDPOINT_PATH=/w/
MEDIAWIKI_USERNAME=<mediawiki-username>
MEDIAWIKI_PASSWORD=<mediawiki-password>
MEDIAWIKI_NAMESPACE=<mediawiki-namespace>
